.meta-form-destinations-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid rgba(black, 0.1);
  padding: 1em 0.5em;
  margin: 0;

  &:nth-child(even) {
    background: rgba(black, 0.05);
  }

  li {
    flex: 1 1 5em;
    margin: 0 1em 0 0;

    input {
      margin: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
    &.meta-form-destinations-title {
      flex: 0 0 10em;
    }
    &.meta-form-destinations-section {
      flex: 0 0 5em;
    }
    &.meta-form-destinations-name,
    &.meta-form-destinations-email {
      flex: 0 0 20em;
    }
    &.meta-form-destinations-update,
    &.meta-form-destinations-remove {
      flex: 0 0 5em;
    }
  }

  @media (max-width: $screen-lg) {
    &.meta-form-destinations-row-header {
      display: none;
    }

    li {
      &.meta-form-destinations-name,
      &.meta-form-destinations-email {
        flex: 1 1 calc(50% - 1em);
      }
    }
  }
  @media (max-width: $screen-sm) {
    &.meta-form-destinations-row-header {
      display: none;
    }

    li {
      &.meta-form-destinations-name,
      &.meta-form-destinations-email {
        flex: 0 0 100%;
        margin: 0.5em 0 0;
      }
    }
  }
}

.meta-form-submissions {
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid rgba(black, 0.1);
    padding: 1em 0.5em;
    margin: 0;

    &:nth-child(even) {
      background: rgba(black, 0.05);
    }
  }

  li {
    margin: 0 1em 0 0;
    flex: 1 1 5em;

    &:last-of-type {
      margin-right: 0;
    }

    &.submission-date {
      flex: 0 0 20em;
    }
    &.submission-name {
      flex: 0 0 18em;
    }
    &.submission-button {
      flex: 0 0 17em;
      text-align: right;
    }

    @media (max-width: $screen-lg) {
      &.submission-button {
        flex: 0 0 100%;
        margin: 0.5em 0 0;
        text-align: left;
      }
    }
  }
}

.meta-form-submission-content {
  width: 90%;
  max-width: 40em;
  background: white;
  margin: auto;
  position: relative;

  .mfp-close {
    @include absolute(0, 0, auto, auto);
    color: white;
  }

  .meta-form-submission-heading {
    padding: 1em;
    background: $wpblue;
    display: flex;
    h2 {
      margin: 0;
      color: white;
      flex: 1 1 5em;
    }
    a {
      display: block;
      flex: 0 0 1em;
      margin: 0 2em;
      color: white;
      text-decoration: none;
      padding-right: 0.5em;
      border-right: 1px solid rgba(white, 0.1);
      outline: none;
    }
  }

  .inner {
    padding: 2em;
  }

  .form-response {
    margin: 0 0 1em;
  }

  h3 {
    margin: 0 0 0.25em;
  }

  p {
    margin: 0;
  }
}

.toplevel_page_jac-info-contacts {
  #wpwrap {
    background-position: center;
    background-size: cover;
  }
  .department-holder {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3em;
    justify-content: space-between;
    .department-div:not(:nth-child(1)) {
      width: 48.5%;
      tr {
        display: flex;
        flex-direction: column;
        width: 49%;
      }
      tbody {
        justify-content: space-between;
      }
    }
    .department-div:nth-last-child(2),
    .department-div:last-child {
      tr {
        width: 100%;
        textarea {
          height: 250px !important;
        }
      }
    }
  }
  tbody {
    display: flex;
    flex-wrap: wrap;
    tr {
      display: flex;
      flex-direction: column;
      width: 49%;
      margin-left: 0.5%;
      margin-right: 0.5%;
      @media (min-width: 1300px) {
        width: 32%;
      }
      @media (min-width: 1550px) {
        width: 24%;
      }
      td,
      th {
        padding: 0 0 0.5em 0;
        label {
          color: rgb(85, 96, 107);
        }
      }
      input {
        padding: 13px 11px;
        border: 1px solid #7e8993;
        border-radius: 4px;
        width: 100%;
      }
      code {
        font-size: 0.5em;
      }
    }
  }
}
