
.meta-gallery-row {
  display: flex;
  flex-wrap: wrap;

  .meta-gallery-order {
    flex: 0 0 3.5em;
    margin: 0 1em 0 0;

    input {
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }

    p {
      font-size: 0.7em;
      text-transform: uppercase;
      margin: 0 0 0.5em;
    }
  }

  .meta-gallery-thumbnail {
    position: relative;
    flex: 0 0 11em;
    margin: 0 1em 1em 0;
    overflow: hidden;
    list-style: none;

    img { max-width: 100%; display: block; }

    .thumbnail-placeholder {
      background: $wpblue;
      padding-top: 100%;
      transition: all 300ms ease;
    }

    .set-image {
      @include absolute(50%,50%,auto,auto);
      width: 5em;
      margin: -2.03125em -2.5em 0 0;
      text-align: center;
      color: white;
      transition: all 300ms ease;

      i { display: block; font-size: 3em; }
      span {
        display: block;
        font-size: 0.7em;
        text-transform: uppercase;
        font-weight: 600;
      }
    }

    a {
      display: block;
      padding: 0;
      border: none;
      &.meta-gallery-delete {
        @include absolute(0,0,auto);
        padding: 0.5em;
        background: rgba(black,0.7);
        color: white;
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.7em;
        transition: all 300ms ease;
        i {
          font-size: 1.15em;
          margin-left: 0.25em;
        }
        &:hover {
          transform: scale(1.2) translate3d(0,0.25em,0);
          background: red;
        }
      }
    }
  }

  .meta-gallery-details {
    flex: 1 1 10em;
  }

  .meta-gallery-url {
    flex: 1 1 100%;
    margin: 0 0 0 4.5em;
  }

  .meta-gallery-description {
    flex: 1 1 100%;
    margin: 0 0 0 4.5em;

    textarea {
      height: 11.125em;
    }
  }

  @media (min-width: $screen-lg) {
    .meta-gallery-description {
      margin: 0 0 0 1em;
      flex: 1 1 20em;
    }
  }

} // .meta-gallery-row

.meta-video-row {
  .meta-gallery-thumbnail {
    flex: 0 0 3em;
    max-width: 3em;
    width: 3em;

    a.meta-gallery-delete, a.meta-gallery-delete:hover {
      @include absolute(0);
      display: flex;
      align-items: center;
      transform: none;
      background: transparent;

      i {
        display: block;
        margin: auto;
        text-align: center;
        color: red;
        font-size: 2em;
      }
    }
  }
}
