.jac-metabox {
  img {
    max-width: 100%;
  }

  a {
    transition: all 300ms ease;
  }

  input,textarea {
    color: $gray;
    background: white;
    font-weight: 400;
    font-size: 1em;
    font-family: $font;
    width: 100%;
    padding: 0.875em 1em;
    margin: 0 0 1em;
    border: 0;
    border-radius: 0.125em;
    border: 1px solid rgba(black,0.1);
    outline: none;
    transition: all 500ms ease;
    box-shadow: 0 0 0 0 rgba(black,0);
    @include field-placeholder-color($gray);

    &:focus {
      color: black;
      border-color: rgba(black,0);
      box-shadow: 0 0 1em 0 rgba(black,0.3);
     }
  }
}

.jac-meta-titlebar {
  padding: 8px 12px;
  margin: 0;
  border-bottom: 1px solid #eee;

  h2 {
    margin: 0;
    font-size: 14px;
  }

  p {
    margin: 0.25em 0 0;
    font-size: 12px;
  }

}

.jac-metabox-add {
  margin-top: 1em;

  a {
    display: block;
    text-align: center;
    color: white;
    background: $wpblue;
    padding: 1em;
    text-transform: uppercase;
    text-decoration: none;

    i {
      font-size: 1.15em;
      margin-right: 0.25em;
    }

    &:hover, &:focus {
      background: lighten($wpblue,10%);
    }
  }
}

.jac-meta-fields {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5em;

  .input-wrap {
    flex: 1 1 18em;
    min-width: 18em;
    margin: 0.5em;
    width: auto;

    select { width: 100%; margin: 0;}
    input { margin: 0; }
    textarea { height: 8em; }

    label {
      display: block;
      margin: 0 0 0.25em;
      text-transform: uppercase;
      font-size: 0.75em;
      letter-spacing: 0.05em;
    }
  }

  .input-wrap.full { flex: 1 1 100%; }
  .input-wrap.half { flex: 1 1 calc(50% - 1em); }
  .input-wrap.third { flex: 1 1 calc(33.33% - 1em); }

}

.jac-metabox-checkboxes {
  display: flex;
  flex-wrap: wrap;

  input {
    width: auto;
    margin: 0 0.25em 0 0;
  }

  small {
    display: block;
    margin-left: 2.5em;
  }

  li {
    @include flex-width(100%);
  }

  @media (min-width: $screen-sm) {
    li {
      @include flex-width(calc(50% - 2em));
      margin-right: 2em;
    }
  }

  @media (min-width: $screen-lg) {
    li {
      @include flex-width(calc(33.33% - 2em));
    }
  }

  li.full {
    @include flex-width(100%);
    margin-right: 0;
  }

}

.jac-meta-expiry {
  input {
    width: 100%;
  }
  p {
    margin: 0.25em 0 0;
  }
}

.jac-meta-video-popup {
  h3 {
    font-size: 1em;
  }
  ul {
    li {
      display: inline-block;
      margin: 0 0.5em 0 0;

      a {
        text-decoration: none;

        i {
          font-size: 1.15em;
        }
      }
    }
  }
}

.jac-meta-social-channels {
  .input-wrap {
    position: relative;

    input { padding-left: 3em; }

    i {
      @include absolute(auto,auto,0.5em,0.5em);
      font-size: 2em;

      &.fa-facebook { color: $facebook; }
      &.fa-twitter { color: $twitter; }
      &.fa-linkedin { color: $linkedin; }
      &.fa-instagram { color: $instagram; }
      &.fa-google-plus { color: $googleplus; }
      &.fa-youtube { color: $youtube; }
      &.fa-pinterest { color: $pinterest; }
      &.fa-tripadvisor { color: $tripadvisor; }

    }
  }
}

.jac-icon-selector {
  display: flex;
  flex-wrap: wrap;

  .input-wrap {
    flex: 0 0 5em;
    max-width: 5em;
    //height: 5em;
    text-align: center;
    margin: 1em;

    i,span {
      display: block;
    }

    i {
      font-size: 2em;
    }

    span {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 0.7em;
      line-height: 1;
      margin: 0.25em 0 0;
    }

    input {
      display: none;
    }

    label {
      color: $gray-light;
      transition: all 300ms ease;
    }

    input:checked+label {
      color: $wpblue;
    }
  }

}
