.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

.wrapper {
  transition: all 300ms ease; // needed for off-canvas nav

  // top padding should be equivalent
  // to the height of the fixed menu
  // this will likely change per breakpoint
  // so be sure to adjust whenever needed
  padding-top: 6.6em;
  @media (min-width: $screen-sm) {
    padding-top: 9em;
  }

  @media (min-width: $screen-md) {
    padding-top: 12em;
  }
} // wrapper

.menu-off-canvas {
  // $offCanvasWidth defined in _variables.scss
  // feel free to adjust if needed
  .container {
    width: 100%;
  }
  img {
    margin: 0 auto;
  }
  @include fixed(0, 0, 0, auto);
  z-index: -1;
  width: $offCanvasWidth;
  height: 100%;
  overflow: scroll;
  transition: all 300ms ease;
  box-shadow: inset 0.25em 0 1em rgba(black, 0.5);
  transform: translate3d($offCanvasWidth, 0, 0);
  * {
    padding: 0;
    margin: 0;
  }
  .container {
    padding: 3em 2em;
    a:not(.has-sub) {
      text-decoration: none;
      display: block;
      padding: 10px 0 0 0;
      text-transform: uppercase;
      font-size: 0.8em;
    }
    .menu-item {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border-bottom: 1px dotted lightgray;
      &:hover {
        background: #fef150;
        i,
        a {
          color: black;
        }
        padding-left: 8px;
        -webkit-transition: all 1.5s ease-in-out;
        transition: all 0.7s ease-in-out;
      }
    }
    .menu-primary {
      margin-top: 3em;
      ul {
        display: none;
        transition: all 1.5s ease-in-out;
        width: 100%;
      }

      .tap {
        display: block;
        transition: all 1.5s ease-in-out;
      }

      li {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 1px dotted lightgray;
        &:hover {
          background: $primary;
          i,
          a {
            color: black;
          }
          -webkit-transition: all 1.5s ease-in-out;
          transition: all 0.7s ease-in-out;
        }
      }
      .has-sub {
        .other {
          transition: all 1.5s ease-in-out;
          background: $primary;
          .dropdown-link {
            border-bottom: 1px dotted lightgray;
            padding-left: 12px;
            a {
              text-decoration: none;
              padding: 5px 0 5px 0px;
              text-transform: uppercase;
              font-size: 0.6em;
              color: white;
            }
            i {
              color: white;
              padding-right: 5px;
            }
            &:hover {
              i {
                color: black;
              }
              a {
                color: black;
                -webkit-transition: all 1.5s linear;
                transition: all 0.7s linear;
              }
            }
          }
        }
        &:hover {
          .title {
            transition: all 0.7s ease-in-out;
            padding-left: 8px;
          }
          .drop-arrow i {
            transition: all 1s ease-in-out;
            color: black;
          }
        }
      }

      .drop-arrow {
        transition: all 0.5s ease-in-out;
        float: right;
        margin-right: 9px;
        padding-top: 5px;
        transform: rotate(90deg);
        i {
          font-size: 1.3em;
        }
      }

      .turn-arrow {
        transition: all 0.5s ease-in-out;
        transform: rotate(180deg);
      }
    }
    .social {
      border-bottom: 1px dotted lightgray;
      display: flex;
      flex-wrap: wrap;
      li {
        list-style: none;
        margin-right: 20px;
        a {
          padding: 10px 0 10px 0px;
        }
        &:hover {
          i,
          a {
            color: black;
          }
          -webkit-transition: all 1.5s ease-in-out;
          transition: all 0.7s ease-in-out;
        }
      }
    }
  }
} // .menu-off-canvas

.menu-off-canvas.left {
  // add class to menu-off-canvas to change the side it appears from
  left: 0;
  right: auto;
  transform: translate3d(-$offCanvasWidth, 0, 0);
} // .menu-off-canvas.left

.menu-fixed {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 300ms ease;
  box-shadow: 0 0 0.25em rgba(black, 0.1);

  .menu-other {
    width: 30em;
  }
  #ajaxsearchlite1 {
    margin: 0 10px !important;
  }
  .announcement-bar {
    text-align: center;
    marquee,
    p {
      margin: 0;
      color: white;
    }
  }
  .topbar,
  .bottombar {
    .flex-container {
      display: flex;
      justify-content: space-between;
      align-items: stretch;

      .menu-primary,
      .menu-secondary,
      .social,
      .menu-other {
        display: flex;
        align-items: center;

        a,
        p,
        li,
        span {
          font-size: 12px;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      } // menus

      .menu-primary,
      .menu-secondary,
      .menu-other {
        justify-content: flex-end;
        .menu-search {
          margin-left: 1em;
          @include flex-width(35px);
          border-left: 1px solid white;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            color: white;
            font-size: 1.3em;
            font-weight: 400;
          }
        }
      } //menu-primary & menu-seconcondary

      .menu-primary {
        position: relative;
        padding: 0;
        margin: 0;
        li {
          height: 100%;
          display: table;
          margin-bottom: 0;
          a {
            display: table-cell;
            vertical-align: middle;
            padding: 3em 0;
            font-size: 1.25em;
            color: white;
            font-weight: 700;
            font-style: normal;
            letter-spacing: 0.2px;
            transition: 0.5s all ease-in-out;
          }
          &:last-child {
            ul.nolist {
              display: flex;
              flex-wrap: wrap;
              li {
                width: 50%;
              }
            }
          }
          @media (min-width: 1000px) {
            margin-left: 1em;
          }
          @media (min-width: 1170px) {
            margin-left: 3em;
          }
          .active a {
            color: $primary !important;
          }
        }
        a {
          color: $secondary;
          &:hover,
          &:focus {
            color: $primary;
          }
        } //a
        li.active a.toptitle {
          color: $primary !important;
        }
      } //menu-primary

      .menu-secondary {
        li {
          margin-left: 1.5em;
        }
        a {
          color: white;
          font-family: $font;
          font-weight: 400 !important;
          font-style: normal;
          color: white;
          &:hover,
          &:focus {
            color: $secondary;
          }
        } //a
        li.active a {
          color: $secondary !important;
        }
      } //menu-contact & menu-secondary
    } // container
  } // topbar & bottombar

  .topbar {
    padding: 0.5em 0;
    position: relative;
    max-height: auto;
    transition: 0.5s all ease-in-out;
    .container {
      z-index: 2;
      justify-content: flex-end;
    }
    @media (max-width: $screen-md) {
      display: none !important;
    }
  } // topbar

  .bottombar {
    padding: 0;
    position: relative;
    transition: 0.5s all ease-in-out;

    .brand {
      margin-left: 0;
      @include flex-width(20%);
      img {
        height: 5em;
        transition: 0.5s all ease-in-out;
        @media (max-width: $screen-sm) {
          height: 4em;
        }
      }
    } // .brand

    @media (max-width: $screen-md) {
      .brand {
        @include flex-width(150px);
      }
      .menu-primary {
        display: none !important;
      }
      .menu-utility {
        display: block;
      }
    }

    .dropdown-position {
      position: relative;
    }

    .menu-right {
      justify-content: flex-end;
      position: relative;
      padding: 3em 0;
      transition: 0.5s all ease-in-out;
      display: none;
      @media (min-width: $screen-md) {
        display: flex;
        width: 10%;
      }
      .menu-side {
        position: relative;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        .menu-search {
          display: flex;
          align-items: center;
          margin-right: 1em;
          i {
            font-size: 1.25em;
            color: black;
            font-weight: 100;
            cursor: pointer;
            &:hover {
              color: $primary;
            }
          }
        }
        li {
          font-size: 1em !important;
          margin-right: 1em;
        }

        li {
          span {
            display: block;
            position: relative;
          }

          i {
            display: block;
            transition: all 300ms ease;
          }

          &.menu-open {
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            transition: all 300ms ease;

            span {
              padding-top: 0.075em;
            }

            i {
              height: 0.083333333em;
              background: black;
              width: 1em;
              font-size: 1.6em;
              margin: 0 0 0.3em;
              &:last-child {
                margin: 0;
              }
            }

            &:hover {
              i {
                background: rgba(black, 0.5);
              }
            }
            &.open-dropdown {
              i {
                &:nth-child(2) {
                  background: none !important;
                  transform: rotate(270deg);
                }

                &:nth-child(1) {
                  transform: rotate(135deg) translate3d(0.25em, -0.25em, 0);
                }

                &:nth-child(3) {
                  transform: rotate(-135deg) translate3d(0.3em, 0.25em, 0);
                }
              } // i
            }
          } // .menu-open
        } // li
      }
    }

    .dropdown {
      position: relative;
      bottom: 0;
      left: 0;
      right: 0;
      @include flex-width(100%);
      height: 250px;
      overflow: hidden;

      p {
        font-size: 12px;
      }

      .dropdown-exit {
        cursor: pointer;
        margin-top: 1.5em;
        font-weight: 100;
      }
      .section-split {
        margin-top: 1.5em;
        border-top: 1px solid rgba($secondary, 0.35);
        padding-top: 1.5em;
        @include flex-width(100%);
        .split-30 {
          border-right: 1px solid rgba($secondary, 0.35);
          .dropdown-link {
            margin-bottom: 0.5em;
            a {
              font-size: 14px;
              font-weight: 100;
              text-transform: uppercase;
            }
          }
          .dropdown-link-header a {
            font-size: 14px;
            font-weight: 500;
          }
          a {
            display: block;
            text-align: right;
            @include flex-width(100%);
            &:first-child {
              font-weight: 500;
            }
          }
        }
        .split-20 {
          text-align: right;
          .button {
            margin: 0;
          }
        }
        .split-50 {
          h1,
          h2,
          h3,
          h4,
          h5 {
            font-size: 20px;
            margin-top: 0;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
    .flexbox {
      display: flex;
      flex-wrap: wrap;
      height: 20em;
      .flexone {
        color: white;
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 30%;
        position: relative;
        h3 {
          color: white;
          font-size: 1.75em;
          text-align: left;
          font-weight: bold;
          margin: 0;
        }
      }
      .flextwo {
        //margin-left: 1.5%;
        border-left: 1px solid white;
        width: 70%;
        font-size: 13px;
        text-align: left;
        position: relative;
        ul {
          position: absolute;
          top: 50%;
          left: 30px;
          width: 100%;
          transform: translate(0%, -50%);
          padding-top: 0;
        }
        li {
          margin-left: 0;
          line-height: 2em;
        }
        ul > li > a {
          text-transform: uppercase;
          font-size: 1.15em;
          font-weight: 500;
          color: white;
          text-decoration: none;
          outline: none;
          padding: 0 0 0 0;
          transition: all 300ms ease;

          &:hover,
          &:focus {
            color: $secondary;
            text-decoration: none;
          }
        }
        ul div ul {
          text-transform: uppercase;
          width: 100%;
          padding: 10px 0 0;
        }
      }
    }
    ul > li > a {
      display: block;
      padding: 60px 0;
      color: #000;
      text-transform: uppercase;
      position: relative;
      z-index: 2;
      &:hover,
      &:focus {
        color: $secondary;
        text-decoration: none;
      }
    }

    ul div ul {
      text-transform: uppercase;
      padding: 10px 0 0;
    }

    ul li:hover > ul,
    ul li:focus-within > ul,
    ul li ul:hover,
    ul li ul:focus {
      visibility: visible;
      opacity: 1;
      display: block;
    }

    ul li ul li {
      clear: both;
      width: 100%;
    }
    li .container-dropdown {
      display: block;
      position: absolute;
      margin-right: -7px;
      left: 0em;
      opacity: 0;
      // transform: translate(-50%, 0%);
      top: -60vh;
      z-index: -1;
      background: $primary;
      width: 100%;
      padding: 2em 2em;
      transition: all 1.2s ease-in-out;
      .title {
        color: black;
        font-size: 1.2em;
        padding-bottom: 1em;
      }
      .subtitle {
        color: black;
        text-transform: initial;
        font-size: 0.9em;
        font-weight: lighter;
      }
      .nolistevent {
        display: flex;
        flex-wrap: wrap;
        li {
          width: 50%;
        }
      }
      .sub-pages {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-top: -1em;
        padding: 0 1em 0 0;
        .dropdown-link {
          text-transform: uppercase;
          font-family: $font;
          font-size: 0.8em;
          width: 50%;
          padding-left: 1em;
          // margin-right: 0.2%;
          line-height: 3.5em;
          a {
            width: 100%;
            color: black;
            font-size: 1em;
            &:hover {
              color: black;
            }
          }
          &:hover {
            border: 0.2px solid rgb(224, 208, 208);
            // padding: 0 0.2em;
            opacity: 0.8;
            transition: opacity 0.5s ease-in-out;
            cursor: pointer;
          }
        }
      }
    }
    li .container-dropdown a.overview {
      width: 44px;
      padding-top: 91px;
      position: absolute;
      top: 50%;
      margin-top: -46px;
      left: 0;
      z-index: 10;
    }
    li .container-dropdown a.overview:hover {
      background-position: 0 0;
    }
    .ie8 li div {
      margin-top: 1px;
    }
    li:first-child .container-dropdown,
    li:first-child + li .container-dropdown {
      right: auto;
    }
    li .container-dropdown:after {
      position: absolute;
      bottom: -29px;
      height: 22px;
      left: 0;
      right: 0;
      transition: all 1.2s ease-in-out;
      content: "";
    }
    li:hover .container-dropdown {
      opacity: 1;
      transition: all 1.2s ease-in-out;
      // transform: translate(-50%, 0%);
      top: 100%;
    }
    li .container-dropdown .quote {
      display: block;
      position: absolute;
      color: #fff;
      font-family: $font;
      top: 0.4em;
      font-size: 1.5em;
      text-align: center;
      left: 0;
      right: 0;
    }
  } //bottombar

  .holder-dropdown {
    position: absolute;
    top: 100%;
    z-index: -1;
    right: 50%;
    transform: translate(50%, 0);
    // width: max-content;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    // @media (min-width: $screen-lg) {
    //   right: 10%;
    // }
    &.show {
      transition: all 0.3s ease-in-out;
      visibility: unset;
    }
  }
  .dropdown-menu {
    width: 25em;
    float: right;
    margin-top: 1em;
    background: $primary;
    transition: all 1.5s ease-in-out;
    transform: translateX(104vw);
    opacity: 0;
    .dropdown-brand {
      width: 10em !important;
      margin: 2em auto;
      svg {
        width: auto !important;
        path.st0 {
          fill: white !important;
        }
      }
    }
    ul {
      text-align: center;
      li {
        margin-bottom: 1.3em;
        a {
          text-transform: uppercase;
          color: white;
          font-size: 14px;
          font-family: $font;
          letter-spacing: 2px;
          &:hover {
            color: $gray-light;
          }
        }
        &.active {
          a {
            color: $secondary-dark;
          }
        }
      }
    }
    .menu-dropdown {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      display: flex;
      justify-content: space-between;
      width: 87%;
      padding: 0.5em 0.4em;
      margin: 10px auto 0 auto;
      li {
        a {
          font-size: 12px;
          font-family: $font;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: white;
          &:hover {
            color: $primary;
          }
        }
      }
    }
    ul.social {
      margin: 1.7em 0;
      text-align: center !important;
      a {
        color: white;
        &:hover {
          color: $gray-lighter;
        }
        &:before {
          font-family: "FontAwesome";
        }
      }
      .fa.fa-facebook-f:before {
        content: "\f082" !important;
      }
      .fa-twitter-squre:before {
        content: "\f081" !important;
      }
    }
    .contact-dropdown {
      text-align: center;
      padding-bottom: 2.3em;
      p {
        color: white;
        font-family: $font;
        font-size: 12px;
        letter-spacing: 1.5px;
      }
      @media (max-width: $screen-sm) {
        display: none;
      }
    }
  }

  .slider-dropdown {
    transform: translateX(0) !important;
    transition: all 0.9s ease-in-out;
    opacity: 1 !important;
  }
  .hide-dropdown {
    transform: translateY(0%) !important;
    transition: transform 0.5s ease-in-out;
  }

  .menu-utility {
    display: none;
    position: relative;
  }
  @media (max-width: $screen-sm) {
    justify-content: space-between;
    .menu-left {
      display: none !important;
    }
    .menu-utility {
      display: block;
      padding: 1.8em 0;
    }
  }
  @media (min-width: $screen-sm) {
    .menu-utility {
      padding: 3em 0;
      display: none;
    }
  }
} //menu-fixed

.menu-utility {
  transition: 0.5s all ease-in-out;
  li {
    font-size: 1.5em;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;

    span {
      width: 1em;
      height: 1em;
      display: block;
      position: relative;
    }

    i {
      display: block;
      transition: all 300ms ease;
    }

    &.menu-open {
      transition: all 300ms ease;

      span {
        padding-top: 0.075em;
      }

      i {
        height: 0.083333333em;
        background: $secondary;
        width: 1em;
        margin: 0 0 0.3em;
      }

      &:hover {
        i {
          background: $primary;
        }
      }
    } // .menu-open

    &.menu-search {
      i:first-of-type {
        @include absolute(0, auto, auto, 0);
        width: 0.875em;
        height: 0.875em;
        border: 0.083333333em solid $gray-light;
        border-radius: 50%;
      }
      i:last-of-type {
        @include absolute(auto, 0, 0, auto);
        width: 0.35em;
        height: 0.083333333em;
        background: $gray-light;
        transform: rotate(50deg) translate3d(-0.1em, -0.00125em, 0);
      }

      &:hover {
        i:first-of-type {
          border-color: $primary;
        }
        i:last-of-type {
          background: $primary;
        }
      }
    }
  } // li
} // .menu-utility

@media screen {
  .knockout .menu-utility {
    li {
      &.menu-open {
        transition: all 300ms ease;

        span {
          padding-top: 0.075em;
        }

        i {
          background: $primary;
        }

        &:hover {
          i {
            background: $primary;
          }
        }
      } // .menu-open

      &.menu-search {
        i:first-of-type {
          border-color: rgba(white, 0.7);
        }
        i:last-of-type {
          background: rgba(white, 0.7);
        }

        &:hover {
          i:first-of-type {
            border-color: white;
          }
          i:last-of-type {
            background: white;
          }
        }
      }
    } // li
  } // .knockout .menu-utility
} // screen

.body-scrolled {
  // we typically find ways to reduce
  // the menu height after the user
  // scrolls down a bit

  transition: 0.5s all ease-in-out;
  .menu-fixed .topbar {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    transition: 0.5s all ease-in-out;
    * {
      max-height: 0;
      font-size: 0px;
    }
  }
  .menu-fixed .bottombar {
    padding: 0.5em;
    transition: 0.5s all ease-in-out;
    .menu-primary li a {
      padding: 1em 0;
      transition: 0.5s all ease-in-out;
    }
    .brand {
      transition: 0.5s all ease-in-out;
      @media (min-width: $screen-sm) {
        @include flex-width(15%);
      }
      img {
        height: 3.2em;
        transition: 0.5s all ease-in-out;
      }
    }
    @media (max-width: $screen-sm) {
      background-color: black;
      transition: 0.5s all ease-in-out;
      .menu-utility {
        padding: 0.7em 0;
        transition: 0.8s all ease-in-out;
      }
    }
  }
  .menu-right {
    padding: 1em 0 !important;
    transition: 0.5s all ease-in-out;
  }
} // .body-is-scrolled

.menu-off-canvas-active {
  // body class to active off-canvas menu
  overflow: hidden;
  max-height: 100%;

  .wrapper,
  .menu-fixed {
    transform: translate3d(-$offCanvasWidth, 0, 0);
  }
  .menu-off-canvas {
    transform: translate3d(0, 0, 0);
    z-index: 10001;
  }

  .menu-utility {
    li {
      &.menu-open {
        i {
          &:nth-child(2) {
            background: none;
            transform: rotate(270deg);
          }

          &:nth-child(1) {
            transform: rotate(135deg) translate3d(0.25em, -0.25em, 0);
          }

          &:nth-child(3) {
            transform: rotate(-135deg) translate3d(0.3em, 0.25em, 0);
          }
        } // i
      } // &.menu-open
    } // li
  } //.menu-utility

  @media (min-width: $screen-md) {
    // disabled off canvas menu at the above breakpoint
    // change min-width if you need to disable before or
    // after this default breakpoint.
    overflow: visible;
    max-height: none;

    .wrapper,
    .menu-fixed {
      transform: translate3d(0, 0, 0);
    }
    .menu-off-canvas {
      transform: translate3d($offCanvasWidth, 0, 0);
      z-index: 10001;
    }
  }
} // .menu-off-canvas-active

.menu-off-canvas-active.left {
  .wrapper,
  .menu-fixed {
    transform: translate3d($offCanvasWidth, 0, 0);
  }
  .menu-off-canvas.left {
    transform: none;
  }
} // .menu-off-canvas-active

.banner {
  position: relative;
  overflow: hidden;
  border-bottom: unset;

  @media (max-width: 1366px) {
    .section-split {
      display: block;
      text-align: center;
    }
  }

  .slick-arrow {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: auto;
    position: absolute;
    left: 3%;
    top: 50%;
    width: 50px;
    height: 50px;
    background: $primary;
    border-radius: 50%;
    transform: translate(0, -50%);
    z-index: 1;
    &.slick-next {
      right: 3%;
      left: auto;
    }
    i {
      padding: 0;
      color: white;
      font-weight: 500;
      font-size: 2em;
    }
    &.slick-disabled {
      cursor: not-allowed;
      i {
        color: #616060;
      }
    }
    @media (min-width: $screen-lg) {
      left: 5%;
      &.slick-next {
        right: 5%;
      }
    }
  }

  .banner-image {
    height: $heroAspectRatio;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    img {
      width: 100%;
      display: block;
    }
  }

  .button {
    margin: 1.5em 0 0;
  }
  h1 {
    color: white;
  }
  p {
    color: rgba(white, 0.7);
  }
  @media (min-width: $screen-sm) {
    .overlay {
      justify-content: center;
      background: rgba(black, 0.5);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      @include absolute(0, 0, 0, 0);
      .container {
        .holder {
          position: absolute;
          bottom: 15%;
          width: 70%;
          h1 {
            font-weight: 700;
            font-size: 3em;
            letter-spacing: 1px;
            line-height: 1.3em;
            font-style: normal;
            margin: 0;
            color: white;
          }
          .subtitle {
            font-size: 1.3em;
            color: white;
            width: 80%;
          }
        }
      }
    }
  }
  @media (min-width: $screen-md) {
    .container {
      .subtitle {
        width: 50% !important;
      }
    }
  }
  @media screen and (min-width: 1366px) {
    .section-split {
      display: block;
      text-align: center;
    }
  }
} // .banner

.banner-nav {
  padding: 1em 0;
  z-index: 3;
  background-color: $gray;
  @media (min-width: 1366px) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($gray, 0.85);
  }

  .tile-slide-nav,
  .nav-item {
    text-align: center;
    cursor: pointer;
    min-height: 4.5em;
    padding: 0.5em 1.5em;
    i {
      margin-bottom: 0.5em;
      font-size: 35px;
    }
    h3,
    i {
      color: $secondary;
      transition: all 300ms ease-in-out;
    }
    h3 {
      font-family: $font;
      font-size: 18px;
      letter-spacing: 1px;
    }
    &:hover,
    &:focus {
      h3,
      i {
        color: $secondary-dark;
      }
    }
  } //tile-slide-nav, .nav-item

  .slick-center .tile-slide-nav {
    border-left: 1px solid rgba($secondary, 0.35);
    border-right: 1px solid rgba($secondary, 0.35);
    i {
      animation: tada 1s;
    }
  } //slick-center

  .nav-item {
    border-left: 1px solid rgba($secondary, 0.35);
    border-right: 1px solid rgba($secondary, 0.35);
    &:first-child {
      border-width: 0px;
    }
    &:last-child {
      border-width: 0px;
    }
    &:hover,
    &:focus {
      i {
        animation: tada 1s;
      }
    }
  } //nav-item
} //banner-nav

.non-slide .banner-nav {
  .nav-item {
    @include flex-width(100%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  @media (max-width: $screen-sm) {
    .nav-item {
      padding: 1.5em;
      border-bottom: 1px solid rgba($secondary, 0.35);
      &:last-child {
        border-bottom-width: 0px;
      }
    }
  }
  @media (min-width: $screen-sm) {
    display: flex;
    justify-content: center;
    align-items: stretch;
    .nav-item {
      @include flex-width(25%);
    }
  }
  @media (min-width: 1366px) {
    position: relative;
  }
} //banner-nav

.home {
  .banner-image {
    height: 38vw;
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  justify-content: center;
  align-items: center;
  z-index: 3000; /* Sit on top */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  padding: 2em 0;
  margin: 3em auto;
  max-width: 45em; /* Could be more or less, depending on screen size */
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: $screen-sm) {
    max-width: 70em;
    width: 80%;
    padding: 3em;
  }
  &.image {
    height: auto !important;
    width: auto !important;
    border: 0 !important;
    position: relative;
    max-width: unset;
    padding: 0;
    text-shadow: unset;
  }
  .holder-content {
    text-align: center;

    p.title {
      color: white;
      font-size: 0.92em;
    }
    p,
    li,
    span,
    a {
      color: white;
    }
  }
}

/* The Close Button */
.close {
  padding: 0.6em 2em;
  color: white;
  float: right;
  font-size: 0.9em;
  font-weight: bold;
  font-family: $font;

  position: absolute;
  right: 0.8em;
  top: 0.8em;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

// .notification-bar {
//   height: 3em;
// }

#myModal {
  .modal-content {
    width: 100%;
    flex-wrap: wrap;
  }
  a.button {
    i {
      font-family: "FontAwesome";
      font-style: normal;
    }
  }
}
.video-popup-checker {
  text-align: center;
  width: 100%;
  iframe {
    width: 100%;
    margin: 0 auto;
    height: 600px;
  }
}
