$hero-height: 60vh;

.section-sitemap {
  @extend .section;

  > ul {
    @extend .nolist;
    display: inline-block;
    margin-right: 2em;

    &.sitemap-descendants {
      margin: 0.5em 0 1em;
      display: block;
    }

    > li {
      border-bottom: 1px solid rgba(black, 0.1);

      > a {
        padding: 0.25em 0;
        display: block;
        color: $primary;
      }

      &:last-of-type {
        border-bottom: none;
      }

      ul {
        @extend .nolist;
        margin: 0.5em 0 0;

        li {
          a {
            color: $gray;
            position: relative;
            display: inline-block;
            padding-left: 1.25em;

            &:before {
              @include absolute(0.5em, auto, auto, 0.5em);
              content: "";
              border-top: 0.25em solid transparent;
              border-bottom: 0.25em solid transparent;
              border-left: 0.25em solid $secondary;
              transition: all 300ms ease;
            }

            &:hover {
              color: $primary;
            }
          }
        } //li

        @media (min-width: $screen-sm) {
          display: flex;
          flex-wrap: wrap;

          li {
            @include flex-width(calc(50% - 2em));
            margin-right: 2em;
          }
        } // min-sm

        @media (min-width: $screen-md) {
          li {
            @include flex-width(calc(33.33% - 2em));
          }
        } // min-sm
      } //ul
    } // >li
  } // >ul
} // .section-sitemap

body {
  &.page.legal,
  &.page.sitemap,
  &.page-template-template-no-sidebar {
    .main {
      margin: auto;
      max-width: $noSidebarWidth;
    }
  }

  &.page-template-overview,
  &.page.the-latest,
  &.page.contact,
  &.archive,
  &.blog,
  &.home,
  &.search,
  &.archive {
    .content {
      padding: 0;
      > .container {
        max-width: none;
        width: auto;
      }
    }
  }

  &.contact {
    .content {
      max-width: 100%;
      .main {
        padding: 0;
      }
    }
  }
  &.sidebar-primary {
    .sidebar {
      margin: 3em 0 0;
    }

    @media (min-width: $screen-sm) {
      .content {
        > .container {
          display: flex;
          flex-wrap: wrap;
        }
      }

      .main {
        flex: 1 1 10em;
        margin: 0;
      }

      .sidebar {
        @include flex-width(15em);
        margin: 0 0 0 3em;
      }
    } // min-sm

    @media (min-width: $screen-md) {
      .sidebar {
        @include flex-width(18em);
      }
    } // min-md

    @media (min-width: $screen-lg) {
      .sidebar {
        @include flex-width(23.125em);
      }
    }
  } // &.sidebar-primary
} // body

.hero-section {
  background: url("https://static.pexels.com/photos/248064/pexels-photo-248064.jpeg")
    50% no-repeat;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-section-text {
    color: $white;
    text-shadow: 1px 1px 2px $black;
  }
}

.section-split {
  h1,
  h2,
  h3 {
    margin-top: 0;
  }

  .subtitle {
    color: $gray-light;
  }

  .titlebar {
    margin: 0 0 1.5em;
  }

  .contact-info,
  .location-info {
    span {
      display: inline-block;
      margin: 0 0.75em 0 0;
    }
  }

  .social {
    margin: 0 -0.25em;

    li {
      a {
        padding: 0.25em;
      }
    }
  }

  .button {
    margin: 1em 0 0;
  }

  .split-col {
    position: relative;
  }
  .gmapcontact,
  .gmap {
    @include absolute(0);
    z-index: 5;
    width: 100%;
    height: 100%;
  }

  .split-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 56.25%;
  }

  .post-info {
    margin: 0 0 2em;
  }

  .split-image-secondary {
    margin-top: 3em;

    img {
      width: 100%;
    }
  }

  &.section-split-gutters {
    .split-image {
      padding: 0 0 3em;
    }
  }

  @media (min-width: $screen-sm) {
    display: flex;
    flex-wrap: wrap;

    .split-col {
      flex: 1 1 50%;
    }
    .split-10 {
      flex: 0 0 10%;
    }
    .split-20 {
      flex: 0 0 20%;
    }
    .split-30 {
      flex: 0 0 30%;
    }
    .split-40 {
      flex: 0 0 40%;
    }
    .split-50 {
      flex: 0 0 50%;
    }
    .split-60 {
      flex: 0 0 60%;
    }
    .split-70 {
      flex: 0 0 70%;
    }
    .split-80 {
      flex: 0 0 80%;
    }
    .split-90 {
      flex: 0 0 90%;
    }
    .content-left {
      padding-right: 1em;
    }
    .content-right {
      padding-left: 1em;
    }

    .split-image {
      padding-top: 0;
    }

    .container {
      width: 80%;
    }

    .split-image-secondary {
      margin-top: 0;
    }

    &.section-split-gutters {
      margin: 0 -1.5em;
      flex-wrap: wrap;

      .split-col {
        margin: 0 1.5em;
        flex: 1 1 calc(50% - 3em);
      }

      .split-image {
        padding: 0;
      }

      .split-image-event {
        flex: 1 1 calc(100% - 3em);
      }
    } // &.section-split-gutters

    &.align-center {
      align-items: center;

      .split-content {
        padding-bottom: 3em;
      }
    }
  } // min-sm

  @media (min-width: $screen-md) {
    &.section-split-gutters {
      .split-image-event {
        @include flex-width(10.625em);
        order: -1;
      }
    }
  }
} // .section-split

.contact-page {
  .split-content {
    .overview-color {
      background-color: rgba(255, 255, 255, 0.4);
      height: 100%;
    }
    .section {
      position: relative;
      padding: 5em 0 0 0;
    }
    .content-contact {
      position: relative;
      h2 {
        text-transform: capitalize;
        margin: 0;
        font-size: 3.5em;
        font-weight: 400;
        font-family: $font;
        color: $primary;
        @media (max-width: $screen-sm) {
          font-size: 2.5em;
        }
      }
      p {
        width: 100%;
        font-weight: 100;
        font-size: 0.9em;
        color: black;
        letter-spacing: 0.2px;
        @media (max-width: $screen-sm) {
          width: 100%;
        }
      }
      .gform_wrapper {
        margin: 2em 0 0 0;
        form {
          input {
            margin: 0;
            padding: 10px 14px !important;
            border-color: $gray;
            font-family: $font !important;
          }
          textarea {
            padding: 10px 14px !important;
            border-color: $gray;
            font-family: $font !important;
          }
          li {
            margin: 0;
            &#field_2_3,
            &#field_2_2 {
              padding-right: 0;
            }
          }
          .top_label {
            margin: 0;
            padding: 0;
          }
          .gform_button {
            padding: 1.1em 1.3em !important;
            background: $primary;
            border-color: $primary;
            border-radius: 0.2em;
            font-size: 0.9em;
            letter-spacing: 1px;
            width: 14em;
            font-family: $font !important;
            &:hover {
              background: white;
              color: $primary;
            }
          }
        }
      }
    }
  }

  .contact-box {
    background: #1f1a16;
    margin-top: 2em;
    padding: 4.4em 0 6em 0;
    z-index: 5;
    .section-split {
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .map-holder {
      margin-bottom: 1.3em;
      &:last-child {
        margin-bottom: 0;
        div.span {
          height: 100%;
        }
      }
      h4 {
        color: white;
        margin: 0 0 0.3em 0;
        text-transform: uppercase;
      }
      h5 {
        color: white;
        margin: 0 0 0.3em 0;
      }
      p.address {
        color: whitesmoke;
        font-weight: 100;
        font-size: 0.9em;
        text-align: left;
        margin: 0;
        line-height: 2em;
        padding-top: 0.4em;
        letter-spacing: 0.5px;
        &.hours {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: max-content;
          font-size: 1em;
          line-height: 1em;
          span {
            &:nth-child(1) {
              padding-right: 0.6em;
            }
          }
        }
      }
      p.tel {
        margin: 0;
        line-height: 2em;
        display: flex;
        flex-direction: column;
        a {
          padding-top: 0.4em;
          color: whitesmoke;
          font-weight: 100;
          font-size: 0.9em;
          letter-spacing: 0.5px;
          &:hover {
            color: $primary;
          }
        }
      }
    }
    @media (max-width: $screen-sm) {
      width: 100%;
      padding: 1em 1em;
    }
  }
  @media (max-width: $screen-sm) {
    .split-image {
      height: 45vh;
    }
  }
  @media (min-width: $screen-sm) {
    .split-image {
      height: auto;
    }
  }
}

.account-banner {
  border-top: 1px solid $gray-light;
  padding: 3em 0;
  @media (min-width: $screen-sm) {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  .tile-banner {
    @include flex-width(100%);
    text-align: center;
    @media (min-width: $screen-sm) {
      @include flex-width(25%);
      text-align: left;
    }
  }
}
.align-right-no-mobile {
  text-align: center;
  margin: auto;
  display: block !important;
  .button {
    margin-bottom: 1.5em !important;
    background-color: $primary !important;
    color: white !important;
    font-size: 0.8em !important;
    padding: 1.2em 3em !important;
    border: 1px solid $primary !important;
    &:hover {
      background-color: white !important;
      color: $primary !important;
    }
  }
  @media (min-width: $screen-sm) {
    text-align: right;
    .button {
      margin: 0;
    }
  }
}
.woocommerce-MyAccount-navigation {
  // @extend .bg-white;
  // margin: 3em 0 0;
  // border: 1px solid rgba(black,0.1);
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  flex: 0 0 100% !important;
  float: none !important;
  border-bottom: 1px solid $gray-light;
  margin-bottom: 2em;
  .section-split {
    width: 100%;
    .split-col {
      display: none;
    }
  }

  ul {
    @extend .bg-white;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    @media (max-width: $screen-sm) {
      margin: 0 0 1.5em;
      align-items: center;
      justify-content: center;
    }

    li {
      padding: 0;
      margin: 0;
      text-align: center;
      padding-right: 1em;

      svg {
        max-height: 30px;
      }

      i {
        font-size: 2.5em;
        margin-bottom: 0.25em;
      }

      h3 {
        font-size: 12px;
        text-transform: uppercase;
        margin-top: 0;
        font-weight: 600;
        color: black;
      }

      a {
        display: block;
        padding: 0.5em 1.5em;
        //  border: 1px solid $gray-lighter;
        border-width: 0 0 1px;
        color: black;
      }

      &.woocommerce-MyAccount-navigation-link--downloads {
        display: none;
      }

      &:last-of-type {
        a {
          border-width: 0;
        }
      }

      &:hover {
        a,
        h3 {
          color: $primary;
        }
      }

      &.is-active {
        a,
        h3 {
          background: $primary-dark;
          color: white;
          border-color: $primary-dark;
        }
      } // &.is-active
    } // li
  } // ul
  @media (min-width: $screen-sm) {
    .split-col {
      display: none;
    }
  }
  @media (min-width: $screen-md) {
    display: flex;
  }
} //.woocommerce-MyAccount-navigation

.woocommerce-account .woocommerce-MyAccount-content {
  float: unset;
  margin: 0 auto;
  padding: 1.8em 0 3em 0;
  address {
    font-family: $font;
    line-height: 1.4em;
    color: $gray;
  }
  .woocommerce-Address-title {
    padding: 2em 0 0.6em 0;
    margin-bottom: 1em;
    border-bottom: 1px solid $gray;
    h3 {
      margin-top: 0;
    }
  }
}
