.tile-cta {
  position: relative;

  h2,
  h3 {
    margin: 0 0 0.25em;
  }

  .button {
    margin-top: 1em;

    &.inverted {
      border-width: 1px;
    }
  }

  .blurb {
    position: relative;
    z-index: 2;
  }

  .tile-bg {
    opacity: 0.1;
    @include absolute(0);
    background-size: cover;
    background-position: center center;
    filter: grayscale(1);
  }
} // .tile-cta

.tile-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5em;

  @media (min-width: $screen-sm) {
    margin: -1em;
  }
} // .tile-wrap

.ajax-button-container {
  @include flex-width(100%);
  text-align: center;
} //ajax-button-container

.tile {
  position: relative;
  @include flex-width(calc(100% - 1em));
  margin: 0.5em;
  padding: 0 0 4em;

  h2,
  h3 {
    margin: 0 0 0.25em;
  }

  .timestamp {
    @include absolute(0, auto, auto, 0);
    z-index: 5;
    padding: 0.5em 1.5em;

    p {
      margin: 0;
      font-size: 0.8em;
      font-weight: bold;
    }
  }

  .tile-buttons {
    @include absolute(auto, 0, 0);
    z-index: 3;
  }

  .button {
    margin: 0.5em 0.25em 0;
    font-size: 0.75em;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  .feat-placeholder {
    padding-top: $tileAspectRatio;
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: rgba(black, 0.9);

    &:before {
      content: "\f059";
      font-family: "FontAwesome";
      font-size: 35vw;
      color: rgba(white, 0.1);
      @include absolute(calc(50% - 0.5em), 0, auto);
    }
  } // .feat-placeholder

  &.has-terms {
    padding: 0 0 6.5em;

    .tile-buttons {
      @include absolute(auto, 0, 2.5em);
    }
  }

  @media (min-width: $screen-sm) {
    @include flex-width(calc(50% - 2em));
    margin: 1em;
    .feat-placeholder:before {
      font-size: 15vw;
    }
  } // min-sm

  @media (min-width: $screen-md) {
    @include flex-width(calc(33.33% - 2em));
    .feat-placeholder:before {
      font-size: 10vw;
    }
  } //min-md
} // .tile

.tile-search {
  position: relative;
  @include flex-width(calc(100% - 1em));
  margin: 0.5em;
  transition: all 300ms ease-in-out;
  transform: scale(1);

  &:hover {
    transition: all 300ms ease-in-out;
    transform: scale(1.04);
  }
  h2,
  h3 {
    margin: 0 0 0.25em;
  }

  .timestamp {
    @include absolute(0, auto, auto, 0);
    z-index: 5;
    padding: 0.5em 1.5em;

    p {
      margin: 0;
      font-size: 0.8em;
      font-weight: bold;
    }
  }

  .tile-buttons {
    @include absolute(auto, 0, 0);
    z-index: 3;
  }

  .button {
    margin: 0.5em 0.25em 0;
    font-size: 0.75em;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  .entry-summary {
    text-align: center;
    h3 {
      margin: 0;
      font-size: 16px;
      font-weight: 500;
    }
    .title {
      margin: 0.25em 0 0 0;
    }
  }

  .feat-placeholder {
    padding-top: $tileAspectRatio;
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: rgba(black, 0.9);

    &:before {
      content: "\f059";
      font-family: "font awesome 5 pro";
      font-size: 5em;
      color: rgba(white, 0.1);
      @include absolute(calc(50% - 0.5em), 0, auto);
    }
  } // .feat-placeholder

  &.has-terms {
    padding: 0 0 6.5em;

    .tile-buttons {
      @include absolute(auto, 0, 2.5em);
    }
  }

  @media (min-width: $screen-sm) {
    @include flex-width(calc(50% - 2em));
    margin: 1em;
    //  .feat-placeholder:before { font-size: 15vw; }
  } // min-sm

  @media (min-width: $screen-md) {
    @include flex-width(calc(33.33% - 2em));
    //  .feat-placeholder:before { font-size: 10vw; }
  } //min-md
} // .tile-search

.tile-categories {
  @include absolute(calc(100% - 2.5em), 0, 0);
  z-index: 4;
  background: white;
  border-top: 1px solid $gray-lighter;
  overflow: hidden;
  text-align: left;
  padding: 0.5em 1.5em 0;
  transition: all 300ms ease;
  min-height: 2.5em;

  li {
    font-size: 0.625em;
  }

  a {
    color: $gray-light;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    display: block;
    padding: 0.5em;

    i {
      color: $secondary;
      margin-right: 0.25em;
    }

    &:hover {
      color: $primary;
    }
  } // a

  li:last-of-type a {
    padding: 0.5em 0.5em 1em;
  }

  &:hover {
    top: auto;
  }
} // .tile-categories

.tile-post .feat-placeholder:before {
  content: "\f1ea";
}
.tile-page .feat-placeholder:before {
  content: "\f15b";
}
.tile-event .feat-placeholder:before {
  content: "\f073";
}

.tile-dashboard {
  border: 1px solid black;
  text-align: center;
  svg {
    @include flex-width(40px);
    margin-bottom: 1em;
  } //svg
  i {
    font-size: 3em;
    margin-bottom: 0.5em;
    font-style: normal;
    font-weight: 400;
    &:before {
      font-family: "FontAwesome";
    }
  }
} //tile-dashboard

.shopping-steps {
  position: relative;
  z-index: 1;
  .step {
    text-align: center;
    padding: 0 2em;
    span {
      font-family: $font;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      @include flex-width(3em);
      height: 3em;
      border-radius: 50%;
      margin: 0 auto 0.5em auto;
      color: white;
      cursor: pointer;
      z-index: 2;
      transform: all 300ms ease-in-out;
      &:hover,
      &:focus {
        background-color: $gray;
      }
    }
    p {
      margin: 0;
    }
  } //step
  .active {
    span {
      background-color: $secondary;
    }
  }
  @media (min-width: $screen-sm) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    &:before {
      content: "";
      @include flex-width(100%);
      border-top: 3px solid black;
      position: absolute;
      top: 4.5em;
      left: 0;
      right: 0;
      z-index: -1;
    }
    .step {
      @include flex-width(33.3333333%);
    }
  }
}

.woocommerce-checkout {
  width: 100%;
  &.woocommerce-order-received {
    .wc-item-meta {
      display: none;
    }
    th {
      font-family: $font;
    }
    .woocommerce-customer-details {
      address {
        font-family: $font;
        padding: 1em;
        line-height: 1.7em;
      }
    }
    .woocommerce-notice.woocommerce-notice--success {
      text-align: center;
    }
    ul.woocommerce-order-overview {
      width: max-content;
      margin: 0 auto;
      text-align: center;
      border: 1px solid $gray-light;
      padding: 2em 1em;
      @media (max-width: $screen-sm) {
        display: flex;
        flex-direction: column;
        width: 80%;
      }
      li {
        border-right: 1px dashed $secondary;
        &:last-child {
          margin-right: 0;
          padding-right: 0;
          border-right: none;
        }
        @media (max-width: $screen-sm) {
          margin-right: 0;
          padding-right: 0;
          padding: 1em 0;
          text-align: center;
          border-right: none;
          border-bottom: 1px dashed $secondary;
        }
      }
    }
  }
  dl.variation {
    dd:not(.variation-Arethereanyadditionaldelegates),
    dt:not(.variation-Arethereanyadditionaldelegates) {
      display: none !important;
    }
    th {
      font-family: $font;
    }
    dd.variation-Delegates {
      display: block !important;
      margin: 0;
      table {
        border: 1px solid $gray-light;
        border-spacing: 0;
        border-collapse: unset;
        thead {
          border-bottom: 1px solid $gray-light;
          th {
            border: none;
            text-align: center;
          }
        }
        td {
          font-size: 0.8em;
          padding: 1em 0.3em;
          border-right: 1px solid $gray-light;
          border-top: 1px solid $gray-light;
          &:nth-child(even) {
            border-right: 0;
          }
        }
      }
    }
  }
  .content.row {
    overflow: hidden;
  }
  .bordered {
    border: 1px solid $gray;
  }
  ul.payment_methods li {
    font-size: 0.8em;
  }
  .woocommerce-info::before {
    display: none;
  }
  button.button {
    font-family: $font;
    padding: 0.6em 2vw !important;
    border-radius: 0.125em !important;
    font-size: 1.1em !important;
    letter-spacing: 0.1em !important;
    font-weight: 400 !important;
    text-transform: uppercase;
    float: none !important;
    // end commonly changed properties

    color: white !important;
    background: $primary !important;
    border-color: $primary !important;
    text-align: center !important;
    appearance: none;
    width: none;
    cursor: pointer;
    display: inline-block;
    line-height: 1em;
    outline: none;
    border-width: 2px !important;
    border-radius: 40px !important;
    border-style: solid !important;
    box-sizing: border-box !important;
    text-shadow: none;
    transition: all 0.5s ease;

    &:hover,
    &:focus {
      background: white !important;
      border-color: $primary !important;
      color: $primary !important;
    }

    &.wide {
      padding-left: 3em;
      padding-right: 3em;
    }
  }
  .cart-totals-row {
    display: flex;
    justify-content: space-between;
    border: 1px solid $gray-light;
    border-width: 0 0 1px;
    margin: 0;
    padding: 0.5em 0;

    span {
      flex: 1 1 40%;
      text-align: left;

      &:first-of-type {
      }

      &:last-of-type {
        text-align: right;
        font-weight: bold;
        color: $gray-darker;
      }
    }
  } // .cart-totals-row

  .cart-totals-row.order-total {
    border: none;
  }
  .woocommerce-info {
    font-family: $font;
    a {
      color: $secondary;
    }
  }
  .cart_item {
    .product-quantity {
      &:before {
        content: none;
      }
    }

    .product-total {
      span {
        color: $secondary;
      }
    }
    .product-name,
    .product-total {
      font-size: 1em;
      margin: 0.5em 0;

      span {
        margin: 0;
      }
    }
  }

  .payment_methods {
    @extend .nolist;
  }

  #order_review_heading {
    display: none;
  }

  @media (min-width: $screen-sm) {
    margin: 0;

    .col2-set {
      float: left;
      width: 50%;
    }

    .woocommerce-checkout-review-order {
      float: left;
      width: 45%;
      margin: 0 0 0 5%;
    }
  }

  @media (min-width: $screen-md) {
    .col2-set {
      width: 60%;
    }

    .woocommerce-checkout-review-order {
      width: 35%;
    }
  }

  @media (min-width: $screen-lg) {
    .col2-set {
      width: 70%;
    }

    .woocommerce-checkout-review-order {
      width: 25%;
    }
  }
}

.holder_arrow {
  color: transparent;
  display: flex;
  a {
    color: white;
    font-family: $font;
    position: relative;
    margin-top: 5em;
    font-size: 1em;
    border: 1px solid white;
    text-align: center;
    border-radius: 0.4em;
    padding: 1em 2.5em;
    background-color: $primary;
    transition: 0.4s all ease-in-out;
    &:hover {
      background-color: white;
      border-color: $primary;
      color: $primary;
      transition: 0.4s all ease-in-out;
      &:before,
      &:after {
        color: $primary !important;
      }
    }
    &#prev {
      margin-right: 10px;
      &:before {
        content: "\f053";
        margin-right: 10px;
        font-family: "Font Awesome 5 Pro";
        color: white;
        font-weight: 900;
      }
      @media (max-width: $screen-sm) {
        margin-right: 0;
      }
    }
    &#next {
      &:after {
        margin-left: 10px;
        content: "\f054";
        font-weight: 900;
        font-family: "Font Awesome 5 Pro";
        color: white;
      }
    }

    @media (max-width: $screen-sm) {
      padding: 0.9em 0.3em;
      margin-top: 1em;
      width: 47%;
      text-align: center;
      font-size: 0.93em;
    }
  }
  @media (max-width: $screen-sm) {
    width: 120%;
    margin-left: -10%;
    justify-content: space-between;
  }
}

.tile-notification {
  a {
    width: 100%;
    padding: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.3em;
    font-size: 0.9em;
    border-radius: 0;
    margin: 0;
  }
}
